@font-face {
    font-family: Comfortaa;
    src: url(Comfortaa.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu.ttf);
}
html {
    background-image: url("wilbur's castle.png");
}
h1 {
    font-family: Comfortaa;
    font-size: 18pt;
    color: white;
}
p {
    font-family: Ubuntu;
    color: white;
}
.content {
    padding: 4%;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50%;
    width: 80%;
    background-color: #8082A5;
    border-radius: 32px;
}
.slidervalue {
    font-size: 32pt;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #35cca3;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #35cca3;
    cursor: pointer;
}
.cost {
    color: #35cca3;
}
.separator {
    padding: 10%;
}
@keyframes multicolor {
    0% {background-color: red;}
    25% {background-color: yellow;}
    50% {background-color: green;}
    75% {background-color: blue;}
    100% {background-color: red;}
}
